<main class="contenedor panel-administracion">
    <h1><%= nomePagina %>

    <div class="contenedor-botones">
        <a href="/novo-grupo" class="btn btn-amarillo">Novo Grupo</a>
        <a href="/novo-weus" class="btn btn-azul">Novo WeUs</a>
        <a href="/editar-perfil" class="btn btn-rosa">Editar Perfil</a>
        <a href="/imagem-perfil" class="btn btn-amarillo">Imagem Perfil</a>
    </div>

    <div class="seccion-admin">
        <h2>Seus WeUs</h2>
        <ul>
            <li>
                <div class="informacion-admin">
                    <p class="fecha">Segunda, 26 de Julho de 2021</p>
                    <h3>E-Commerce no Brasil</h3>
                    <small>23 Participantes</small>
                </div>
                <div class="acciones contenedor-botones">
                    <a href="#" class="btn btn-verde">Editar</a>
                    <a href="#" class="btn btn-azul2">Participantes</a>
                    <a href="#" class="btn btn-rojo">Remover</a>
                </div>
            </li>
            <li>
                <div class="informacion-admin">
                    <p class="fecha">Quarta, 28 de Julho de 2021</p>
                    <h3>Curso de Português</h3>
                    <small>30 Participantes</small>
                </div>
                <div class="acciones contenedor-botones">
                    <a href="#" class="btn btn-verde">Editar</a>
                    <a href="#" class="btn btn-azul2">Participantes</a>
                    <a href="#" class="btn btn-rojo">Remover</a>
                </div>
            </li>
            <li>
                <div class="informacion-admin">
                    <p class="fecha">Quinta, 29 de Julho de 2021</p>
                    <h3>Refugiados na Tecnologia</h3>
                    <small>85 Participantes</small>
                </div>
                <div class="acciones contenedor-botones">
                    <a href="#" class="btn btn-verde">Editar</a>
                    <a href="#" class="btn btn-azul2">Participantes</a>
                    <a href="#" class="btn btn-rojo">Remover</a>
                </div>
            </li>
        </ul>
    </div>

    <div class="seccion-admin">
        <h2>Seus Grupos</h2>
        <ul>
            <li>
                <div class="informacion-admin">
                    <h3>Emigrantes no Brasil</h3>
                </div>
                <div class="acciones contenedor-botones">
                    <a href="#" class="btn btn-verde">Editar</a>
                    <a href="#" class="btn btn-azul2">Imagem</a>
                    <a href="#" class="btn btn-rojo">Remover</a>
                </div>
            </li>
            <li>
                <div class="informacion-admin">
                    <h3>Venezuelanos no Brasil</h3>
                </div>
                <div class="acciones contenedor-botones">
                    <a href="#" class="btn btn-verde">Editar</a>
                    <a href="#" class="btn btn-azul2">Imagem</a>
                    <a href="#" class="btn btn-rojo">Remover</a>
                </div>
            </li>
            <li>
                <div class="informacion-admin">
                    <h3>Venezuelanos no Rio de Janeiro</h3>
                </div>
                <div class="acciones contenedor-botones">
                    <a href="#" class="btn btn-verde">Editar</a>
                    <a href="#" class="btn btn-azul2">Imagem</a>
                    <a href="#" class="btn btn-rojo">Remover</a>
                </div>
            </li>
        </ul>    
    </div>

    

</main>