<main class="contenedor contenedor-formularios">
    <h1><%= nomePagina%></h1>

    <form action="/iniciar-sessao" method="POST" class="default-form">
        <div class="campo">
            <label>E-mail</label>
            <input type="email" name="email" placeholder="Seu Email">
        </div>
        <div class="campo">
            <label>Password</label>
            <input type="password" name="password" placeholder="Senha">
        </div>
        <div class="campo enviar">
            <input type="submit" class="btn btn-rosa" value="Iniciar Sessão">

        </div>
    
    </form>
</main>