<h1 style="
    text-align: center;
    font-family: Arial, Helvetica;  
">Confirme sua conta</h1>

<p style="font-family: Arial, Helvetica;">Olá, você está a um passo de 
começar a criar uma comunidade em WeUs, você só precisa confirmar sua conta no link a seguir:</p>

<a style="
    display: block;
    font-family: Arial, Helvetica;
    padding: 1rem;
    background-color: #00C897;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
" href="<%= url %>">Confirme sua conta</a>

<p style="font-family: Arial, Helvetica;">Se você não conseguir acessar este link, visite: <%= url %></p>

<p style="font-family: Arial, Helvetica;">Se você não solicitou este e-mail, pode ignorá-lo</p>